
<a class="flex items-center justify-center w-full gap-1 px-5 py-4 text-gray-300 text-base duration-300 md:w-auto md:py-2 md:text-sm hover:scale-110 hover:text-white hover:font-bold selected" href={Astro.props.href || undefined}>
    
    <slot name="before"/>
    <slot />
    <slot name="after" />

</a>