---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/util";
import Logos from "../components/Logos.astro";
import Proyects from "../components/Projects";
import Footer from "../components/Footer";
import Info from "../components/Info";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Acerca de mi">
	<main class="bg-gray-900 text-gray-100 min-h-screen">
		<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-10 lg:py-12">
		  <h1 class="text-sm sm:text-base md:text-lg font-bold text-center mb-6 sm:mb-8 text-blue-300" id="aboutMe">
			Issac Aguilar
		  </h1>
		  <Info client:load/>
  
		  <h2 class="text-2xl sm:text-3xl md:text-4xl text-blue-300 font-bold text-center mt-10 sm:mt-12 md:mt-16 mb-6 sm:mb-8" id="skills">
			{t("nav.skills")}
		  </h2>
		  <Logos />
  
		  <h2 class="text-2xl sm:text-3xl md:text-4xl text-blue-300 text-center font-bold mt-10 sm:mt-12 md:mt-16 mb-6 sm:mb-8" id="proyects">
			{t("nav.proyects")}
		  </h2>
		  <Proyects client:load/>
  
		  <Footer />
		</div>
	  </main>

	<style>
		.highlight-on-hover:hover {
			fill: #ff9800;
			transition: fill 0.3s ease;
		}
		main {
			margin: auto;
			padding: 1rem;
			width: 800px;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}
		h1 {
			scroll-margin-top: 50px;
		}

		.astro-a {
			position: absolute;
			top: -32px;
			left: 50%;
			transform: translatex(-50%);
			width: 220px;
			height: auto;
			z-index: -1;
		}
		h1 {
			font-size: 32px;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}
		.{
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
		.instructions {
			margin-bottom: 2rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(
				rgba(var(--accent-dark), 66%),
				rgba(var(--accent-dark), 33%)
			);
			padding: 1.5rem;
			border-radius: 8px;
		}
		.instructions code {
			font-size: 0.8em;
			font-weight: bold;
			background: rgba(var(--accent-light), 12%);
			color: rgb(var(--accent-light));
			border-radius: 4px;
			padding: 0.3em 0.4em;
		}
		.instructions strong {
			color: rgb(var(--accent-light));
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 2rem;
			padding: 0;
		}
		
	</style>
	<script is:inline></script></Layout
>
